<li>
  {{#liquid-if previous.route}}
    {{#link-to previous.route}}{{previous.arrow}} {{previous.name}}{{/link-to}}
  {{/liquid-if}}
</li>

<li class="text-align-right">
  {{#liquid-if next.route}}
    {{#link-to next.route}}{{next.name}} {{next.arrow}}{{/link-to}}
  {{/liquid-if}}
</li>
