<li>
  {{#if previous.route}}
    {{#link-to previous.route}}{{previous.arrow}} {{previous.name}}{{/link-to}}
  {{/if}}
</li>

<li class="text-align-right">
  {{#if next.route}}
    {{#link-to next.route}}{{next.name}} {{next.arrow}}{{/link-to}}
  {{/if}}
</li>
