{{engine-container scene="welcome/index"}}

<hr>

<div class="menu-centered">
  <ul class="menu">
    <li><a href="https://github.com/affinity-engine" target="_blank">
      <img src="/github-logo.png">
    </a></li>
    <li><a href="https://www.instagram.com/affinityengine">
      <img src="/instagram-logo.png">
    </a></li>
    <li><a href="https://www.facebook.com/affinityengine.games" target="_blank">
      <img src="/facebook-logo.png">
    </a></li>
    <li><a href="https://twitter.com/affinityengine" target="_blank">
      <img src="/twitter-logo.png">
    </a></li>
  </ul>
</div>

<hr>

{{section-navigator level=1}}
