.aside {
  @extend .column;
  @extend .small-12;
  @extend .medium-4;
  @extend .small-padding-1;
  @extend .small-margin-bottom-1;
  font-size: $global-font-size * 0.9;
  color: #302929;

  h1 {
    font-size: $global-font-size;
  }

  &.javascript {
    background-color: map-get($foundation-palette, success);

    h1:before {
      @extend .fa;
      @extend .fa-code;
      margin-right: $horizontal-rhythm / 2;
    }
  }

  &.ember {
    background-color: map-get($foundation-palette, warning);

    h1:before {
      @extend .fa;
      @extend .fa-fire;
      margin-right: $horizontal-rhythm / 2;
    }
  }
}

.with-aside {
  @extend .column;
  @extend .small-12;
  @extend .medium-8;
  @extend .small-padding-left-0;
}
