.ember-power-select-trigger {
  display: inline-block;
  vertical-align: middle;
}

.ember-power-select-label {
  display: inline;

  p {
    display: inline;
  }
}

.ember-power-select-container {
  padding: 0.7rem 1rem;
}
