.ember-power-select-container {
  padding-right: 1rem;
}

.ember-power-select-trigger {
  padding-right: $horizontal-rhythm * 1.5;
}

.ember-power-select-search-input, .ember-power-select-search-input:focus {
  background-color: transparent;
  height: 30px;
  margin-bottom: 0;
}

@include breakpoint(small down) {
  .ember-power-select-container {
    width: 100%;
    padding: 0.7rem 1rem;
  }
}
