.section-anchor {
  display: block;
  color: $anchor-color;
  margin-bottom: $vertical-rhythm / 1.5;

  .fa-link {
    opacity: 0;
    margin-left: $horizontal-rhythm / 2;
    -webkit-transition: opacity 250ms;
    transition: opacity 250ms;
  }

  h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    margin: 0;
  }

  &:hover {
    color: $anchor-color-hover;

    .fa-link {
      opacity: 1;
    }
  }
}
