.topbar-right {
  text-align: center;
}

@include breakpoint(medium) {
  .topbar {
    display: -webkit-flex;
    display: flex;

    width: 100%;
    padding: $vertical-rhythm * 0.6 $horizontal-rhythm;
    background-color: $body-background;
    box-shadow: 0 2px 2px $light-gray;

    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
  }

  .topbar-right {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
  }
}
