.et-curtain, .ae-curtain, .ember-progress-bar {
  height: 100%;
}

.engine-title {
  position: absolute;
  top: 38%;
  font-size: 200%;
  text-align: center;
  width: 100%;
  color: $white;
}

.ember-progress-bar svg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  margin-top: 1%;
  color: $white;
}
