<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li>{{#link-to "engine"}}Affinity Engine{{/link-to}}</li>
      <li>{{#link-to "stage"}}Stage{{/link-to}}</li>
      <li>{{#link-to "menu-bar"}}Menu Bar{{/link-to}}</li>
      <li>{{#link-to "curtain"}}Curtain{{/link-to}}</li>
      <li>{{#link-to "plugins"}}Plugins{{/link-to}}</li>
    </ul>
  </div>
</div>

{{outlet}}
