<div class="hide-for-medium">
  {{#link-to "index" classNames="button expanded margin-bottom-0"}}:){{/link-to}}
</div>

{{#responsive-dropdown title=(t "application.routes.affinityEngine")}}
  <div class="top-bar">
    <div class="top-bar-left columns medium-6 medium-offset-3 end">
      <ul class="menu vertical medium-horizontal">
        {{#active-link classNames="show-for-medium"}}{{#link-to "index"}}:){{/link-to}}{{/active-link}}

        {{#each-in routeSequencer.routes as |route options|}}
          {{#active-link}}{{#link-to route}}{{options.name}}{{/link-to}}{{/active-link}}
        {{/each-in}}
      </ul>
    </div>
  </div>
{{/responsive-dropdown}}

{{outlet}}
