{{#responsive-navigation-dropdown startIndex=1}}
  <div class="columns medium-3">
    {{expanding-sidebar
      parentRoute="engine"
      classNames="vertical"
    }}
  </div>
{{/responsive-navigation-dropdown}}

<div class="columns small-12 medium-6 end">
  <h1>{{t "application.routes.affinityEngine"}}</h1>

  {{outlet}}

  {{section-navigator level=0}}
</div>
