{{#responsive-dropdown title=(t "application.helpers.tableOfContents")}}
  <div class="columns medium-3">
    {{expanding-sidebar
      parentRoute="engine"
      classNames="vertical"
    }}
  </div>
{{/responsive-dropdown}}

<div class="columns small-12 medium-6 end">
  <h1>{{t "application.routes.affinityEngine"}}</h1>

  {{outlet}}
</div>
